* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  max-width: 1140px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}
.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_item {
  margin-left: 38px;
}
.header_link {
  color: #3F3F3F;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
  padding: 10px 10px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header_link:hover {
  color: black;
}
.header_btn {
  color: #3F3F3F;
  font-size: 16px;
  font-style: normal;
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #8E8E8E;
  line-height: normal;
}